* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333333;
    font-weight: 100;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/*.clearfix{*+height:1%;}*/

.left {
    float: left;
}

a {
    text-decoration: none;
}

.header {
    height: 55px;
    background: #2e2e2e;
    color: #f7f7f7;
}

.header .logo {
    color: #ececec;
    font-size: 18px;
    line-height:55px;
    padding: 0 25px;
    border-right: 1px solid #717171;
}

.header .link {
    float: left;
    color: #d0d0d0;
    font-size: 16px;
    line-height:55px;
    padding: 0 20px;
}

.header .link:hover {
    color: #ffffff;
}

.header .on {
    color: #ffffff;
}

.content {
    padding: 10px;
}

.button {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    background: #ffffff;
    cursor: pointer;
}

.button:hover {
    background: #f5f5f5;
}

.button:active {
    background: #ececec;
}

.search table tr td {
    padding: 10px;
}

.list {
    padding: 10px;
}

.list table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

.list table tr th {
    text-align: left;
    border: 1px solid #cccccc;
    padding: 8px 0;
    padding-left: 10px;
    background: #fafafa;
}

.list table tr td {
    border: 1px solid #cccccc;
    padding: 8px 0;
    padding-left: 10px;
}

.list .button {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}

.text {
    width: 500px;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}

.info {
    margin: 10px;
    min-height: 500px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.info table {
    width: 100%;
}

.info table tr th {
    width: 120px;
    text-align: right;
    padding: 10px;
}

.info table tr td {
    padding: 10px 0;
}

.submit {
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    border-width: 1px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.cannel {
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #e6e6e6;
}

.pagination:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/*.pagination{*+height:1%;}*/

.pagination li {
    float: left;
    list-style: none;
    border: 1px solid #d7d7d7;
    margin-left: 10px;
    border-radius: 4px;
}

.pagination li span {
    display: block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    background: #ececec;
    border-radius: 4px;
    text-align: center;
}

.pagination li a {
    display: block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    background: #ffffff;
    text-align: center;
    border-radius: 4px;
}

.short {
    width: 150px;
}